################################################################################
#
# Description: Process Manager configuration file for
#   VidyacloneService
#
#   By default, Process Manager will run only your service
#
# Customization:
#
#   To run additional applications, append them to
#     *.*.ProcessManager.appList
#   and then define them in
#     *.*.ProcessManager.processGroup.<application name>
#
#   See https://w.amazon.com/index.php/ProcessManager#Configuration
#   for more help about this file.
#
################################################################################

# Must generate logs in UTC
*.*.FLApplicationConfiguration.overwriteEnvironment = true;
*.*.FLApplicationConfiguration.Environment += {
    TZ = "UTC";
    DOMAIN = $DOMAIN; # From PubSub OpConfig
    REALM = $REALM; # Also from PubSub OpConfig
};

*.*.ProcessManager.appList += (
  "OctaneService",
);

*.*.ProcessManager.processGroup.OctaneService = {
  childClass = PMSignaledChild;
  copies = 1;
  path = $ROOT$/bin/run-service.sh;
  pwd = $ROOT$;
  startupPriority = 10;
  shutdownTimeout = 200;
};

*.*.ProcessManager.shutdownTimeout = 200;
